@import './css/variables.css';
@import './css/reset.css';
@import './css/navbar.css';

body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(font-family);
  -webkit-font-smoothing: antialiased;
}