@import './css/variables.css';
@import './css/reset.css'; /* 你可以去网上搜个简单的 reset css 填进去 */
@import './css/navbar.css';

body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;}